.popUp {
    position: fixed;
    top: 20%;
    left: 35%;
    width:700px;
    height: 350px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background: rgb(196, 192, 192);
}