.cell {
    text-align: center;
    width: 150px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(212, 116, 202, 0.306);
    border-radius: 10px;
    overflow: auto;
  }

  .day {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .cell:hover {
    background-color: rgba(244, 96, 237, 0.458);
  }
  
  .meeting {
    padding-top: 5px;
    color: rgb(118, 112, 112);
  }